---
import Layout from '../layouts/Layout.astro';
import NotFound from '../components/NotFound';
---

<Layout title="triage | Oops!"
	description="The page you are looking for doesn't exist."
>
	<main>
			<NotFound client:load />
	</main>
</Layout>

<style>
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Inter:wght@700;800&family=Poppins:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(243 244 246);
}
</style>
