---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner';
import Features from '../components/Features';
import Footer from '../components/Footer';
import Header from '../components/Header';
import Hero from '../components/Hero';
import Highlight from '../components/Highlight';
import Pricing from '../components/Pricing';
import Process from '../components/Process';
import UnderConstruction from '../components/UnderConstruction';
---

<Layout title="triage | Track your lab results"
	description="If you're looking for a way to keep track of your blood test results, look no further than triage. With our easy-to-use interface, you can easily track your results over time and spot any trends that may emerge."
>
	<main>
			<UnderConstruction client:load />
      <Header client:load/>
      <Hero client:load/>
      <Features client:load/>
      <Highlight client:load/>
      <Process client:load/>
      <Pricing client:load/>
      <Banner client:load/>
      <Footer client:load/>
	</main>
</Layout>

<style>
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Inter:wght@700;800&family=Poppins:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(243 244 246);
}
</style>
